body{background-color: brown;

color: aqua;
}
button{background-color: blue;
color: aqua;
font-size: large
;
}
#Div2{

color: aqua;
}
h1{background-color: chartreuse;
color: blue;
}
main{font-size: large;   } 
